#dateContainer {
    display: inline;
}

.day {
    font-size: 14px;
    display: inline-block;
    margin-bottom: 3px;
    width: 13.8%;
}

.day-container {
    width: 13.5%;
    height: 11vw;
    border: solid rgb(197, 197, 197) 1px;
    border-radius: 5px;
    display: inline-block;
    margin: 1px;
    font-size: 10px;
    text-align: center;
    color: rgb(87, 87, 87);
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.day-container span {
    position: absolute;
    top: 4%;
    font-size: 1em;
    left: 3px;
    z-index: 4;
}

.day-container:hover {
    background-color: rgb(248, 248, 248);
    text-decoration: none;
    font-weight: 800;
}

.blank-day-container {
    background-color: rgb(55, 55, 55);
}

.blank-day-container:hover {
    background-color: white;
    text-decoration: none;
    cursor: default;
}

.month-container {
    height: auto;
    width: 100%;
    margin-right: 15px;
    float: left;
}

.chore-done {
    width: 28%;
    height: 28%;
    float: left;
    border-radius: 20%;
    margin: 2%;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.bg-orange {
    background-color: rgba(245, 156, 73, 0.8);
}

.today {
    position: relative;
    border: solid rgb(0, 0, 0) 3px;
}

@media only screen and (min-width: 992px) {
    .day-container {
        height: 8vw;
    }
}