body {
    margin: 0;
    padding: 0;
    min-width: 350px;
    font: 14px sans-serif;
}


/* navigation */

nav {
    background-color: rgb(55, 55, 55);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    margin: 0;
}

nav li {
    display: inline;
}

nav a {
    color: white;
}

nav a:hover {
    background-color: rgba(250, 250, 250, 0.2);
    text-decoration: none;
    color: rgb(182, 182, 182);
}


/* calendar */

#dateContainer {
    display: inline;
}

.day {
    font-size: 10px;
    display: inline-block;
    margin-bottom: 1px;
    width: 32.5px;
}

.day-container {
    width: 30px;
    height: 30px;
    border: solid rgb(197, 197, 197) 1px;
    border-radius: 5px;
    background-color: rgb(243, 243, 243);
    display: inline-block;
    margin: 1px;
    font-size: 10px;
    text-align: center;
    color: rgb(87, 87, 87);
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.day-container span {
    position: absolute;
    left: 3px;
}

.day-container:hover {
    background-color: rgb(255, 254, 212);
    text-decoration: none;
    font-weight: 800;
}

.blank-day-container {
    background-color: rgb(255, 255, 255);
}

.blank-day-container:hover {
    background-color: white;
    text-decoration: none;
    cursor: default;
}

.month-container {
    width: 230px;
    height: 320px;
    margin-right: 15px;
    float: left;
}

.left-divider {
    border-left: solid 1px grey;
}

.chore-table {
    width: 100%;
}

.chore-table td,
th {
    border: solid grey 1px;
}

.chore-table tr:nth-child(even) {
    background-color: rgb(242, 242, 242);
}


/* style days */

.today {
    position: relative;
    border: solid red 3px;
}

.day-container img {
    position: absolute;
    right: 1.5px;
    top: 2px;
}

.selected-day {
    background-color: rgb(255, 222, 91);
    box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.08);
}

.no-text {
    color: rgba(0, 0, 0, 0);
}

.chore-done {
    width: 28%;
    height: 28%;
    background-color: rgba(75, 147, 225, 0.8);
    float: left;
    border-radius: 20%;
    margin: 0.5px;
}

.bg-orange {
    background-color: rgba(245, 156, 73, 0.8);
}