<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

<footer class="p-3 py-4">
    <div class="row m-0 p-0">
        <div class="col-12 col-md-4">
            <h4 class="text-center mt-4 mb-3">Social Media</h4>
            <p>Follow to keep up to date with future updates. Also, if you find any problems, have any suggestions or programming questions please connect me!</p>
            <div class="d-flex justify-content-center">
                <a href="https://www.facebook.com/Fords-development-102522668044543/" class="m-0" target="_blank">
                    <img src="https://img.icons8.com/color/25/000000/facebook.png" />
                </a>
                <a href="https://www.instagram.com/fordsdevelopments_games/" class="m-0 mx-1" target="_blank">
                    <img src="https://img.icons8.com/fluent/25/000000/instagram-new.png" />
                </a>
                <a href="https://github.com/Fordalex" class="m-0" target="_blank">
                    <img src="https://img.icons8.com/fluent/25/000000/github.png" />
                </a>
            </div>
        </div>
        <div class="col-12 col-md-4 mt-4">
            <hr class="d-block d-md-none">
            <h4 class="text-center mt-1 mb-3">Created By <img class="logo-size ml-2" src='{{ url_for("static", filename="img/logos/fordsdevelopment_logo.svg") }}' alt="Card image cap"></h4>
            <p>I also create websites and web applications for businesses, big or small, please see my main website for more information!</p>
            <div class="d-flex justify-content-center">
                <a href="https://www.fordsdevelopment.co.uk/" target="_blank" class="btn btn-dark">Go To
                    Fordsdevelopment</a>
            </div>
        </div>
        <div class="col-12 col-md-4 mt-4">
            <hr class="d-block d-md-none">
            <h4 class="text-center mt-1 mb-3">Acknowledgements</h4>
            <p>This web application would of never been created without the following platforms.</p>
            <ul class="acknowledgements-list">
                <li><img src="https://img.icons8.com/fluent/22/000000/github.png" /> Github</li>
                <li><img src="https://img.icons8.com/color/22/000000/heroku.png" /> Heroku</li>
                <li><img src="https://img.icons8.com/ios-filled/22/000000/jquery.png" /> Jquery</li>
                <li><img src="https://img.icons8.com/fluent/22/000000/icons8-new-logo.png" /> <a target="_blank" href="https://icons8.com/icons/set/create-icon" class="text-dark">Create Icon icon</a> icon by <a target="_blank" href="https://icons8.com" class="text-dark">Icons8</a></li>
                <li><img src="https://img.icons8.com/plasticine/22/000000/youtube.png" /> Youtube</li>
                <li><img src="https://img.icons8.com/color/22/000000/bootstrap.png" /> Bootstrap</li>
            </ul>
        </div>
    </div>
    <small class="m-0 mt-2 py-1 d-flex justify-content-center text-small"><span>Copyright © 2020 Calendar</span></small>
    <small class="text-light text-center d-block"></small>

</footer>