<label>Icon</label>
<div class="dropdown">
    <button class="" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select Icon
                        </button>
    <div class="dropdown-menu icon-dropdown p-2" id="iconContainer" aria-labelledby="dropdownMenuButton">
        <h6>House Work</h6>
        <img src="https://img.icons8.com/metro/60/000000/full-trash.png" />
        <img src="https://img.icons8.com/metro/60/000000/delete.png" />
        <img src="https://img.icons8.com/metro/60/000000/broom.png" />
        <img src="https://img.icons8.com/metro/60/000000/carpet-cleaning.png" />
        <img src="https://img.icons8.com/metro/60/000000/housekeeping.png" />
        <img src="https://img.icons8.com/metro/60/000000/cooker.png" />
        <img src="https://img.icons8.com/metro/60/000000/toaster.png" />
        <img src="https://img.icons8.com/metro/60/000000/bedroom.png" />
        <img src="https://img.icons8.com/metro/60/000000/dining-room.png" />
        <img src="https://img.icons8.com/metro/60/000000/kitchen.png" />
        <img src="https://img.icons8.com/metro/60/000000/electrical.png" />
        <img src="https://img.icons8.com/metro/60/000000/plumbing.png" />
        <img src="https://img.icons8.com/metro/60/000000/exit-sign.png" />
        <img src="https://img.icons8.com/metro/60/000000/toilet-bowl.png" />
        <img src="https://img.icons8.com/metro/60/000000/widescreen-tv.png" />
        <img src="https://img.icons8.com/metro/60/000000/teapot.png" />
        <img src="https://img.icons8.com/metro/60/000000/garden-shears.png" />
        <img src="https://img.icons8.com/metro/60/000000/spade.png" />
        <img src="https://img.icons8.com/metro/60/000000/paper-bag-with-seeds.png" />
        <img src="https://img.icons8.com/metro/60/000000/paint-brush.png" />


        <hr class="m-0">

        <h6>Sports</h6>
        <img src="https://img.icons8.com/metro/60/000000/bench-press.png" />
        <img src="https://img.icons8.com/metro/60/000000/pullups.png" />
        <img src="https://img.icons8.com/metro/60/000000/pushups.png" />
        <img src="https://img.icons8.com/metro/60/000000/squats.png" />
        <img src="https://img.icons8.com/metro/60/000000/curls-with-dumbbells.png" />
        <img src="https://img.icons8.com/metro/60/000000/running.png" />
        <img src="https://img.icons8.com/metro/60/000000/football2.png" />
        <img src="https://img.icons8.com/metro/60/000000/treadmill.png" />
        <img src="https://img.icons8.com/metro/60/000000/boots.png" />
        <img src="https://img.icons8.com/metro/60/000000/rucksack.png" />

        <hr class="m-0">

        <h6>Studying</h6>
        <img src="https://img.icons8.com/metro/60/000000/book.png" />
        <img src="https://img.icons8.com/metro/60/000000/library.png" />
        <img src="https://img.icons8.com/metro/60/000000/calculator.png" />
        <img src="https://img.icons8.com/metro/60/000000/informatics.png" />
        <img src="https://img.icons8.com/metro/60/000000/dna-helix.png" />
        <img src="https://img.icons8.com/metro/60/000000/physics.png" />
        <img src="https://img.icons8.com/metro/60/000000/clock.png" />
        <img src="https://img.icons8.com/metro/60/000000/barber-scissors.png" />
        <img src="https://img.icons8.com/metro/60/000000/hair-clip.png" />
        <img src="https://img.icons8.com/metro/60/000000/hair-dryer.png" />
        <img src="https://img.icons8.com/metro/60/000000/mirror.png" />

        <hr class="m-0">

        <h6>Games</h6>
        <img src="https://img.icons8.com/metro/60/000000/firing-gun.png" />
        <img src="https://img.icons8.com/metro/60/000000/knight.png" />
        <img src="https://img.icons8.com/metro/60/000000/tank.png" />
        <img src="https://img.icons8.com/metro/60/000000/military-helicopter.png" />

        <hr class="m-0">

        <h6>Holidays</h6>
        <img src="https://img.icons8.com/metro/60/000000/santa.png" />
        <img src="https://img.icons8.com/metro/60/000000/christmas-star.png" />
        <img src="https://img.icons8.com/metro/60/000000/gingerbread-man.png" />
        <img src="https://img.icons8.com/metro/60/000000/christmas-penguin.png" />
        <img src="https://img.icons8.com/metro/60/000000/christmas-candle.png" />
        <img src="https://img.icons8.com/metro/60/000000/christmas-gift.png" />
        <img src="https://img.icons8.com/metro/60/000000/easter-egg.png" />
        <img src="https://img.icons8.com/metro/60/000000/ghost.png" />
        <img src="https://img.icons8.com/metro/60/000000/zombie.png" />
        <img src="https://img.icons8.com/metro/60/000000/wedding-gift.png" />
        <img src="https://img.icons8.com/metro/60/000000/two-hearts.png" />
        <img src="https://img.icons8.com/metro/60/000000/wedding-rings.png" />
        <img src="https://img.icons8.com/metro/60/000000/champagne.png" />
        <img src="https://img.icons8.com/metro/60/000000/engagement-ring.png" />

    </div>
</div>