<div class="dropdown">
    <button class="btn btn-dark dropdown-toggle container-fluid" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">   
        Select Icon
    </button>
    <div class="dropdown-menu icon-dropdown" aria-labelledby="dropdownMenuButton">
        <h6>House Work</h6>
        <img src="https://img.icons8.com/metro/40/000000/full-trash.png" />
        <img src="https://img.icons8.com/metro/40/000000/broom.png" />
        <img src="https://img.icons8.com/metro/40/000000/carpet-cleaning.png" />
        <img src="https://img.icons8.com/metro/40/000000/housekeeping.png" />
        <img src="https://img.icons8.com/metro/40/000000/cooker.png" />
        <img src="https://img.icons8.com/metro/40/000000/toaster.png" />
        <img src="https://img.icons8.com/metro/40/000000/bedroom.png" />
        <img src="https://img.icons8.com/metro/40/000000/dining-room.png" />

        <hr class="m-0">

        <h6>Fitness</h6>

        <hr class="m-0">

        <h6>Studying</h6>

        <hr class="m-0">

    </div>
</div>